
.timer {
  margin-top: 10px;
  margin-bottom: 25px;
}

.timerFirstLine,
.timerSecondLine {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.timerTimeBlock {
  width: 150px;
}

.timerTime {
  font-size: 20px;
}

.timerDesc,
.timerProject {
  width: 50%;
  max-width: 200px;
  margin-right: 20px;
}
